@charset "UTF-8";
/* CSS Document */


/* 用户头像的div*/
.userImageDiv{
	width:100px;
	height:100px;
	align-content:center;
	text-align:center;
	margin:auto;
	margin-top:10%;
}

/*用户头像*/
.userimage{
	height:100px;
	width:100px;
	margin:0 0 0 0;
	padding:0 0 0 0;
	border-radius:100px;
}
.table_title_th{
	text-align: center;
	font-weight: bold;
	font-size: 36px;
	color: #00b0e8;
}
table{
	width: 100%;
	height: auto;
}
td{
	text-align: center;
}
tr{
	height: 60px;
}
#a{
	text-decoration: none;
	color: #0e2231;
}
h1{
	text-align:center;
}
/*本人作品的p*/
.p_zp{
	text-align: center;
	font-size: 24px;
	font-weight:bold;
}
/*作品的img大小*/
.iconsize{
	width: 60px;
	height:60px;
	border-radius: 15px;
}
/*作品*/
.icondiv_left{
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
}
.profile{
	color: #437dff;
	text-align: right;
	text-decoration: underline;
}

















